<div class="example-container">
        <!-- <mat-form-field>
                <textarea matInput placeholder="Client Identifier"></textarea>
              </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Client Identifier"></textarea>
        </mat-form-field>-->
        <mat-card>
            <mat-card-title>Login</mat-card-title>
            <div class="form-container">
            <mat-card-content class ="mat-card-content">
              <mat-form-field class="example-full-width">
                <input [(ngModel)]="email" type="text"
                 placeholder="Email"
                 aria-label="Number"
                 matInput>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input [(ngModel)]="password" type="password"
                [type]="hide ? 'password' : 'text'"
                 placeholder="password" aria-label="Number" matInput>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
        </mat-card-content>
        <img class="img-style" src="https://ssl.gstatic.com/accounts/signup/glif/account.svg"/>
    </div>
         <mat-card-actions>
         <button style="margin-left: 12px" mat-raised-button color="primary" (click)="login()">Login</button>
         <button mat-button color="primary" routerLink="/register"
  (click)="onCancel()"
   routerLinkActive="active">Cancel</button>
              </mat-card-actions>
              <br/>
              <mat-spinner *ngIf="loading" [diameter]="40"></mat-spinner>
              <mat-error *ngIf="showError">
                Username or password incorect
                  </mat-error>
                </mat-card>
               
</div>