<router-outlet></router-outlet> 

<!-- <h2>
        <a mat-icon-button (click)="drawer.toggle()">
                <mat-icon style="color: grey">menu</mat-icon>
            </a>
            <p>Block Chain</p>
</h2>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <button routerLink="/" routerLinkActive="active" style="margin-top: 20px" mat-button class="small" (click)="showFiller = !showFiller" >
        <mat-icon style="color: red">home</mat-icon>
      <b style="margin-left: 20px">Home</b>
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <!-- <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button> -->
      <!-- <router-outlet></router-outlet>
    </div>
  </mat-drawer-container> -->
   